.container {
    position: absolute;
    left: 17%;
    top: 20%;
    width: 85vw;
    padding: 20px;
    /* height: 350px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    margin-top: 30px; */
    
}
h1{ color: #0d417a; font-size: 18px !important;}
